<ng-container *ngIf="!configs.isEmpty; else noConfigs">
  <lintel-configs class="configs"> </lintel-configs>

  <ng-container *ngIf="selection.fileName">
    <ng-container *ngIf="!configs.configuration.loading; else invalidConfig">
      <ng-container [ngSwitch]="selection.category">
        <lintel-general
          *ngSwitchCase="params.generalSettings"
          class="general settings"
          id="theScroller"
        >
        </lintel-general>

        <div *ngSwitchDefault class="rule settings">
          <lintel-filter class="filter"> </lintel-filter>

          <lintel-tabs class="tabs"> </lintel-tabs>

          <section class="rules" id="theScroller">
            <lintel-rules
              [view]="(selection.category === params.activeCategory)? configs.activeView : configs.categoryView[selection.category]"
            >
            </lintel-rules>
          </section>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #invalidConfig>
      <main (click)="editFile(selection.fileName)" class="exception settings">
        <div>
          <div>This configuration file cannot be analyzed</div>
          <a>Edit in {{ configs.shortFileName(selection.fileName) }}</a>
        </div>
      </main>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #noConfigs>
  <main class="exception settings">
    <div>
      <div>There are no ESLint configurations</div>
      <div>in this project</div>
    </div>
  </main>
</ng-template>
