:host {
  color: var(--vscode-settings-textInputForeground);
  display: flex;
}

.checkbox {
  align-items: center;
  background-color: var(--vscode-settings-checkboxBackground);
  border: 1px solid var(--vscode-settings-checkboxBorder);
  color: var(--vscode-settings-textInputForeground);
  cursor: pointer;
  display: grid;
  flex-shrink: 0;
  height: 18px;
  justify-content: center;
  margin-right: 0.5rem;
  width: 18px;

  &:focus {
    border-color: var(--vscode-focusBorder);
    outline: none;
  }

  fa-icon {
    opacity: 0;

    &.checked {
      opacity: var(--lintel-opacity-icon);
    }

    &.default:not(.checked) {
      opacity: var(--lintel-opacity-disabled);
    }

    &.disabled:not(.checked) {
      cursor: not-allowed;
    }
  }
}

.label {
  cursor: pointer;
  white-space: wrap;

  &.disabled {
    cursor: not-allowed;
    opacity: var(--lintel-opacity-disabled);
  }
}
