:host {
  color: var(--vscode-settings-textInputForeground);
  cursor: pointer;
  display: flex;
}

.checkbox {
  align-items: center;
  background-color: var(--vscode-settings-textInputBackground);
  border: 1px solid transparent;
  display: grid;
  height: 18px;
  justify-content: center;
  margin-right: 0.5rem;
  width: 18px;

  &:focus {
    border-color: var(--vscode-focusBorder);
    outline: none;
  }

  fa-icon {
    opacity: 0;

    &.checked {
      opacity: var(--lintel-opacity-icon);
    }

  }
}

.label {
  white-space: nowrap;
}

::ng-deep lintel-checkbox > fa-icon {
  opacity: var(--lintel-opacity-icon);
}

::ng-deep lintel-checkbox > fa-icon.disabled {
  opacity: var(--lintel-opacity-disabled);
}

::ng-deep lintel-checkbox [prefix] {
  margin-right: 0.5rem;
}

::ng-deep lintel-checkbox [suffix] {
  // NOTE: suffix is assumed to be a call to action
  cursor: pointer;
  margin-left: 0.5rem;
}
