<nav
  *ngIf="configs.hasRules">

  <div 
    *ngFor="let fileName of configs.fileNames"
    class="config">

    <div 
      (click)="selectFileName($event, fileName)"
      [ngClass]="{selected: selection.fileName === fileName}"
      class="filename">
      {{ fileName }}

      <ng-container
        *ngIf="selection.fileName === fileName">

        <div
          (click)="selectCategory($event, category)"
          [ngClass]="{selected: selection.category === category}"
          *ngFor="let category of configs.categories"
          class="category">
          &bull; {{ category }}
        </div>

      </ng-container>

    </div>

  </div>

</nav>

<p  
  *ngIf="!configs.hasRules">
  No rules found
</p>
