:host {
  display: block;
  height: 100%;
}

.config {
  cursor: pointer;
  line-height: 150%;
  margin-bottom: 1rem;

  .category,
  .filename {
    color: var(--vscode-editorWidget-foreground);
    font-weight: normal;

    &.selected {
      color: var(--vscode-settings-headerForeground);
      font-weight: bold;
    }

  }

}
