:host {
  display: block;
}

.filter {
  background: var(--vscode-editorGroup-dropBackground);
  border: 1px solid var(--vscode-editorGroup-border);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr auto;
  padding: 0.5rem;

  fa-icon {
    color: var(--vscode-editorWidget-foreground);
    cursor: pointer;
    opacity: 0.6;
  }

  input {
    background: transparent;
    border: 0;
    color: var(--vscode-input-foreground);

    &:focus {
      outline: 0;
    }

  }

}
