<ng-container [formGroup]="inputArrayForm">
  <p
    [ngStyle]="{'grid-template-columns': 'repeat(auto-fit, ' + columnWidth + ')'}"
    class="inputs"
  >
    <lintel-input
      [enabled]="false"
      [value]="default"
      *ngFor="let default of (defaults || []).sort()"
    >
    </lintel-input>

    <lintel-input
      [enabled]="enabled"
      [formControl]="input"
      [max]="max"
      [min]="min"
      [step]="step"
      [type]="type"
      *ngFor="let input of inputArrayForm.controls.inputs['controls']; let ix = index"
    >
      <div *ngIf="ix === 0" prefix>
        <ng-content select="[prefix]"></ng-content>
      </div>

      <fa-icon
        (click)="removeInput(ix)"
        [icon]="['fas', 'times']"
        [ngClass]="{disabled: !enabled}"
        *ngIf="inputArrayForm.controls.inputs['controls'].length > 1"
        suffix
        title="Remove this item"
      >
      </fa-icon>

      <a
        (click)="addInput()"
        [ngClass]="{disabled: !enabled}"
        *ngIf="ix === (inputArrayForm.controls.inputs['controls'].length - 1) && ix < (maxItems - 1)"
        suffix
      >
        More
      </a>

      <div
        *ngIf="ix === (inputArrayForm.controls.inputs['controls'].length - 1)"
        suffix
      >
        <ng-content select="[suffix]"></ng-content>
      </div>
    </lintel-input>
  </p>
</ng-container>
