:host {
  align-items: center;
  background: var(--vscode-settings-textInputBackground);
  border: 1px solid transparent;
  color: var(--vscode-settings-textInputForeground);
  display: flex;
  padding: 0.5rem;
}

:host(.focus) {
  border-color: var(--vscode-focusBorder);
}

input[type=text] {
  width: 100%;
}

::ng-deep lintel-input fa-icon {
  opacity: 0.6;
}

::ng-deep lintel-input fa-icon.disabled {
  opacity: 0.3;
}

::ng-deep lintel-input [prefix] {
  padding-right: 0.5rem;
}

::ng-deep lintel-input [suffix] {
  // NOTE: suffis is assumed to be a call to action
  cursor: pointer;
  padding-left: 0.5rem;
}
