<ng-container
  [formGroup]="inputArrayForm">

  <div 
    [ngStyle]="{'grid-template-columns': 'repeat(auto-fit, ' + columnWidth + ')'}"
    class="inputs">

    <lintel-input
      [formControl]="input"
      *ngFor="let input of inputArrayForm.controls.inputs['controls']; let ix = index">

      <fa-icon 
        (click)="removeInput(ix)"
        [icon]="['fas', 'times']"
        *ngIf="inputArrayForm.controls.inputs['controls'].length > 1"
        suffix
        title="Remove this item">
      </fa-icon>

      <a
        (click)="addInput()"
        *ngIf="ix === (inputArrayForm.controls.inputs['controls'].length - 1) && ix < (maxItems - 1)"
        suffix>
        More
      </a>

    </lintel-input>

  </div>

</ng-container>
