:host {
  align-items: center;
  background: var(--vscode-settings-dropdownBackground);
  border: 1px solid var(--vscode-settings-dropdownBorder);
  color: var(--vscode-settings-dropdownForeground);
  display: flex;
  height: 2rem;
  padding: 0.4rem;
}

:host(.focus) {
  border-color: var(--vscode-focusBorder);
}

input {
  width: 100%;
}

::ng-deep lintel-input > fa-icon {
  opacity: var(--lintel-opacity-icon);
}

::ng-deep lintel-input > fa-icon.disabled {
  opacity: var(--lintel-opacity-disabled);
}

::ng-deep lintel-input [prefix] {
  margin-right: 0.5rem;
}

::ng-deep lintel-input [suffix] {
  // NOTE: suffix is assumed to be a call to action
  cursor: pointer;
  margin-left: 0.5rem;
}
