<ng-container
  [formGroup]="keyValueForm">

  <div 
    [ngStyle]="{'grid-template-columns': 'repeat(auto-fit, ' + columnWidth + ')'}"
    class="keyValues">

    <div
      *ngFor="let keyValue of keyValueForm.controls.keyValues['controls']; let ix = index"
      class="keyValue">

      <lintel-input
        [formControl]="keyValue['controls'][0]"
        *ngIf="!keyConstraints"
        class="key"
        type="text">
      </lintel-input>

      <lintel-singleselector
        [formControl]="keyValue['controls'][0]"
        [options]="keyConstraints"
        *ngIf="!!keyConstraints"
        class="key"
        placeholder=" ">
      </lintel-singleselector>

      <div
        class="separator">
        :
      </div>

      <ng-container
        [ngSwitch]="type"
        *ngIf="!valueConstraints">

        <lintel-checkbox
          [formControl]="keyValue['controls'][1]"
          *ngSwitchCase="'checkbox'"
          class="value">

          <div
            *ngTemplateOutlet="suffixTemplate"
            suffix>
          </div>

        </lintel-checkbox>

        <lintel-input
          [formControl]="keyValue['controls'][1]"
          [max]="max"
          [min]="min"
          [step]="step"
          [type]="type"
          *ngSwitchDefault
          class="value">

          <div
            *ngTemplateOutlet="suffixTemplate"
            suffix>
          </div>

        </lintel-input>
        
      </ng-container>

      <lintel-singleselector
        [formControl]="keyValue['controls'][1]"
        [options]="valueConstraints"
        *ngIf="!!valueConstraints"
        class="value"
        placeholder=" ">

        <div
          *ngTemplateOutlet="suffixTemplate"
          suffix>
        </div>

      </lintel-singleselector>

      <!-- NOTE: common suffix for different value controls -->

      <ng-template
        #suffixTemplate>

        <fa-icon 
          (click)="removeKeyValue(ix)"
          [icon]="['fas', 'times']"
          *ngIf="keyValueForm.controls.keyValues['controls'].length > 1"
          suffix
          title="Remove this item">
        </fa-icon>

        <a
          (click)="addKeyValue()"
          *ngIf="ix === keyValueForm.controls.keyValues['controls'].length - 1"
          suffix>
          More
        </a>

      </ng-template>

    </div>

  </div>

</ng-container>
