<div
  [formGroup]="keyValueForm"
  class="key-value">

  <!-- <mat-select
    [errorStateMatcher]="errorStateMatcher"
    [placeholder]="placeholder"
    *ngIf="keyConstraints"
    #newKey
    autocomplete="off">
    <mat-option
      [value]="key"
      *ngFor="let key of keyConstraints">
      {{ key }}
    </mat-option>
  </mat-select> -->

  <lintel-input
    [placeholder]="newKeyMessage"
    *ngIf="!keyConstraints"
    #newKey>

    <fa-icon
      (click)="addKey(newKey.value)"
      [icon]="['fas', 'plus']"
      [ngClass]="{ disabled: !newKey.value }"
      suffix
      title="Add a new key">
    </fa-icon>

  </lintel-input>

  <div 
    [ngStyle]="{color: 'var(--vscode-errorForeground)'}"
    *ngIf="duplicateKey">
    {{ duplicateKeyMessage }}
  </div>

  <div 
    [ngStyle]="{'max-height.px': rowHeight * maxVisibleValues}"
    *ngIf="keys.length > 0"
    class="values">
      
    <ng-container
      *ngFor="let key of keys">

      <lintel-input
        [formControlName]="key">

        <fa-icon
          (click)="deleteKey(key)"
          [icon]="['fas', 'times']"
          suffix
          title="Remove this key">
        </fa-icon>

      </lintel-input>

    </ng-container>

  </div>

</div>
