<ng-container
  [formGroup]="keyValueForm">

  <div 
    [ngStyle]="{'grid-template-columns': 'repeat(auto-fit, ' + columnWidth + ')'}"
    class="keyValues">

    <div
      *ngFor="let keyValue of keyValueForm.controls.keyValues['controls']; let ix = index"
      class="keyValue">

      <lintel-input
        [formControl]="keyValue['controls'][0]">
      </lintel-input>

      <div
        class="separator">
        :
      </div>

      <lintel-input
        [formControl]="keyValue['controls'][1]"
        *ngIf="!valueConstraints">

        <fa-icon 
          (click)="removeKeyValue(ix)"
          [icon]="['fas', 'times']"
          *ngIf="ix !== keyValueForm.controls.keyValues['controls'].length - 1"
          suffix
          title="Remove this item">
        </fa-icon>

        <a
          (click)="addKeyValue()"
          *ngIf="ix === keyValueForm.controls.keyValues['controls'].length - 1"
          suffix>
          More
        </a>

      </lintel-input>

      <lintel-singleselector
        [formControl]="keyValue['controls'][1]"
        [options]="valueConstraints"
        *ngIf="!!valueConstraints"
        placeholder=" ">

        <fa-icon 
          (click)="removeKeyValue(ix)"
          [icon]="['fas', 'times']"
          *ngIf="ix !== keyValueForm.controls.keyValues['controls'].length - 1"
          suffix
          title="Remove this item">
        </fa-icon>

        <a
          (click)="addKeyValue()"
          *ngIf="ix === keyValueForm.controls.keyValues['controls'].length - 1"
          suffix>
          More
        </a>

      </lintel-singleselector>

    </div>

  </div>

</ng-container>
