:host {
  display: block;
}

.checkboxes {
  display: grid;
  grid-gap: 0.5rem;
  // NOTE: actual with set by style from control input
  // grid-template-columns: repeat(auto-fit, 160px);
  overflow-y: auto;
}

.readout {
  font-size: 0.66rem;
  margin-top: 0.5rem;
}
