<div
  [formGroup]="multiSelectorForm"
  class="multiselector">

  <div 
    class="prefix">
    <ng-content select="[prefix]"></ng-content>
  </div>

  <label
    class="label">
    {{ label }}
  </label>

  <div 
    class="suffix">
    <ng-content select="[suffix]"></ng-content>
  </div>

  <div
   class="rule">
  </div>

  <div 
    [ngStyle]="{'max-height.px': rowHeight * maxVisibleOptions}" 
    class="checkboxes">

    <lintel-checkbox
      [formControl]="control"
      [label]="getOptionDecoded(ix)"
      *ngFor="let control of controls; let ix = index">
    </lintel-checkbox>

  </div>

  <div class="readout">
    {{ readout() }}
  </div>

</div>
