:host {
  display: block;
}

.multiselector {
  align-items: center;
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-areas:
    "prefix placeholder suffix"
    "rule   rule        rule"
    ".      checkboxes  checkboxes"
    ".      readout     readout";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;

  .checkboxes {
    display: grid;
    grid-area: checkboxes;
    grid-template-columns: auto;
    overflow: auto;
  }

  .mat-form-field-prefix {
    grid-area: prefix;
  }

  .mat-form-field-suffix {
    grid-area: suffix;
  }

  .placeholder {
    grid-area: placeholder;
  }

  .rule {
    background-color: var(--vscode-editorWidget-foreground);
    grid-area: rule;
    height: 1px;
  }

  .readout {
    font-size: 0.66rem;
    grid-area: readout;
  }

}
