<ng-container
  *ngIf="hasRules()">

  <ng-container
    *ngFor="let item of view | keyvalue; trackBy: trackByRule">

    <ng-container
      *ngIf="configs.makeRuleDigest(item.key, item.value[0], item.value[1]) as digest">

      <div
        [ngClass]="{active: !!digest.settings, inherited: digest.inherited, unknown: !digest.rule}"
        class="gutter">
      </div>

      <lintel-rule
        [digest]="digest">
      </lintel-rule>

    </ng-container>

  </ng-container>

</ng-container>

<ng-container
  *ngIf="!hasRules()">

  <div></div>
  <div>No matching rules in {{ selection.category }}</div>

</ng-container>
