:host {
  align-content: start;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1rem 1fr;
}

.gutter {

  &.active {
    border-right: 2px solid var(--vscode-editorGutter-modifiedBackground);
  }

}
