:host {
  display: block;
  line-height: 150%;
}

.ruleName {
  font-family: monospace;
  font-weight: bold;

  &.error {
    color: var(--vscode-errorForeground);
  }

  &.inherited {
    font-weight: normal;
  }

  &.off {
    color: inherit;
  }

  &.warn {
    color: var(--vscode-editorOverviewRuler-warningForeground);
  }

}
