<ng-container
  [formGroup]="selectArrayForm">

  <p 
    [ngStyle]="{'grid-template-columns': 'repeat(auto-fit, ' + columnWidth + ')'}"
    class="selects">

    <lintel-singleselector
      [enabled]="enabled"
      [formControl]="select"
      [options]="options"
      *ngFor="let select of selectArrayForm.controls.selects['controls']; let ix = index"
      placeholder=" ">

      <fa-icon 
        (click)="removeSelector(ix)"
        [icon]="['fas', 'times']"
        [ngClass]="{disabled: !enabled}"
        *ngIf="selectArrayForm.controls.selects['controls'].length > 1"
        suffix
        title="Remove this item">
      </fa-icon>

      <a
        (click)="addSelector()"
        [ngClass]="{disabled: !enabled}"
        *ngIf="ix === (selectArrayForm.controls.selects['controls'].length - 1) && ix < (maxItems - 1)"
        suffix>
        More
      </a>

    </lintel-singleselector>

  </p>

</ng-container>
