:host {
  display: block;
}

select {
  background-color: var(--vscode-settings-textInputBackground);
  border: 1px solid transparent;
  color: var(--vscode-settings-textInputForeground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  height: 2rem;
  width: 100%;

  &:focus {
    border-color: var(--vscode-focusBorder);
    outline: none;
  }

}
