<div 
  *ngFor="let fileName of configs.fileNames"
  class="config">

  <div 
    (click)="select($event, { category: null, fileName: fileName })"
    [ngClass]="{selected: selection.fileName === fileName}"
    class="filename">
    {{ fileName }}

    <ng-container
      *ngIf="selection.fileName === fileName">

      <div
        (click)="select($event, { category: category })"
        [ngClass]="{selected: selection.category === category}"
        *ngFor="let category of schemas.categories"
        class="category">
        &bull; {{ category }}
      </div>

    </ng-container>

  </div>

</div>
