:host {
  height: 100%;
}

main {
  display: grid;
  grid-template-areas:
    "filter  filter"
    "tabs    tabs"
    "configs rules";
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 3rem 3rem calc(100vh - 8rem);
  margin: 0 auto;
  max-width: 1024px;
  padding-top: 1.5rem;

  .configs {
    grid-area: configs;
  }

  .filter {
    grid-area: filter;
  }

  .tabs {
    grid-area: tabs;
  }

  .rules {
    grid-area: rules;
    overflow-y: auto;
  }

}
