:host {
  height: 100%;
}

.mat-tree-node {
  cursor: pointer;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
}
