:host {
  display: block;
  height: 100%;
}

.config {
  cursor: pointer;
  line-height: 175%;
  margin-bottom: 1rem;

  .category {
    display: grid;
    grid-template-columns: 1.5rem 1fr;

    > div {
      line-height: 150%;
    }

    > div:first-of-type {
      justify-self: center;
    }

  }

  .category,
  .filename {
    color: var(--vscode-editorWidget-foreground);
    font-weight: normal;

    fa-icon {
      opacity: var(--lintel-opacity-icon);
    }

    &.selected {
      color: var(--vscode-settings-headerForeground);
      font-weight: bold;

      fa-icon {
        opacity: 1;
      }

    }

  }

}
