<div 
  *ngFor="let fileName of configs.fileNames"
  class="config">

  <div 
    (click)="selectFileName($event, fileName)"
    [ngClass]="{selected: selection.fileName === fileName}"
    class="filename">

    <fa-icon 
      [fixedWidth]="true"
      [icon]="iconForFile(fileName)"
      [ngStyle]="{color: colorForFile(fileName)}"
      size="lg">
    </fa-icon>

    {{ fileName }}

    <ng-container
      *ngIf="configs.configuration && (selection.fileName === fileName)">

      <!-- NOTE: general settings and active rules are ALWAYS available -->

      <div
        (click)="selectCategory($event, params.generalSettings)"
        [ngClass]="{selected: selection.category === params.generalSettings}"
        class="category">
        <div>&bull;</div> <div>{{ params.generalSettings }}</div>
      </div>

      <div
        (click)="selectCategory($event, params.activeCategory)"
        [ngClass]="{selected: selection.category === params.activeCategory}"
        class="category">
        <div>&bull;</div> <div>{{ params.activeCategory }}</div>
      </div>

      <div
        (click)="selectCategory($event, category)"
        [ngClass]="{selected: selection.category === category}"
        *ngFor="let category of configs.categories"
        class="category">
        <div>&bull;</div> <div>{{ category }}</div>
      </div>

      <div
        (click)="selectCategory($event, params.unknownCategory)"
        [ngClass]="{selected: selection.category === params.unknownCategory}"
        *ngIf="!utils.isEmptyObject(configs.unknownView)"
        class="category">
        <div>&bull;</div> <div>{{ params.unknownCategory }}</div>
      </div>

    </ng-container>

  </div>

</div>
