<div 
  *ngFor="let fileName of configs.fileNames"
  class="config">

  <div
    (click)="selectFileName($event, fileName)"
    [ngClass]="{selected: selection.fileName === fileName}"
    class="item">

    <div>
      <fa-icon 
        [fixedWidth]="true"
        [icon]="iconForFile(fileName)"
        [ngStyle]="{color: colorForFile(fileName)}"
        size="lg">
      </fa-icon>
    </div>

    <div>{{ shortenFileName(fileName) }}</div>

  </div>

  <ng-container
    *ngIf="configs.configuration && (selection.fileName === fileName)">

    <!-- NOTE: general settings and active rules are ALWAYS available -->

    <div
      (click)="selectCategory($event, params.generalSettings)"
      [ngClass]="{selected: selection.category === params.generalSettings}"
      class="item">

      <div>
        <fa-icon 
          [fixedWidth]="true"
          [icon]="[selection.category === params.generalSettings? 'fas' : 'far', 'circle']"
          size="xs">
        </fa-icon>
      </div>
      
      <div>{{ params.generalSettings }}</div>

    </div>

    <div  
      (click)="selectCategory($event, params.activeCategory)"
      [ngClass]="{selected: selection.category !== params.generalSettings, unknown: selection.pluginName === params.unknownPluginName}"
      class="item">

      <div>
        <fa-icon 
          [fixedWidth]="true"
          [icon]="['fas', 'plug']">
        </fa-icon>
      </div>

      <div>{{ selection.pluginName }}&hellip;</div>

    </div>

    <div
      (click)="selectCategory($event, params.activeCategory)"
      [ngClass]="{selected: selection.category === params.activeCategory}"
      class="item">

      <div>
        <fa-icon 
          [fixedWidth]="true"
          [icon]="[selection.category === params.activeCategory? 'fas' : 'far', 'circle']"
          size="xs">
        </fa-icon>
      </div>
      
      <div>{{ params.activeCategory }}</div>

    </div>

    <div
      (click)="selectCategory($event, category)"
      [ngClass]="{selected: selection.category === category}"
      *ngFor="let category of configs.categories"
      class="item">

      <div>
        <fa-icon 
          [fixedWidth]="true"
          [icon]="[selection.category === category? 'fas' : 'far', 'circle']"
          size="xs">
        </fa-icon>
      </div>
      
      <div>{{ category }}</div>

    </div>

  </ng-container>

</div>
