:host {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.config {
  cursor: pointer;
  line-height: 175%;
  margin-bottom: 1rem;

  .item {
    align-items: center;
    color: var(--vscode-editorWidget-foreground);
    display: grid;
    font-weight: normal;
    grid-template-columns: 1.5rem 1fr;

    > div {
      line-height: 150%;
    }

    > div:first-of-type {
      justify-self: center;
    }

    fa-icon {
      opacity: var(--lintel-opacity-icon);
    }

    &.selected {
      color: var(--vscode-settings-headerForeground);
      font-weight: bold;

      fa-icon {
        opacity: 1;
      }

    }

    &.selected.unknown {
      color: var(--vscode-inputValidation-errorBorder);
    }

  }

}

.logo {
  padding: 1rem;

  img {
    width: 100%;
  }

}
