<form
  [formGroup]="filterForm"
  autocomplete="off"
  novalidate>

  <mat-form-field
    appearance="legacy"
    floatLabel="never">

    <input
      formControlName="filter"
      matInput
      placeholder="Filter rules"
      type="text">

      <a
        (click)="toggleInheritedRules()"
        mat-button
        mat-icon-button
        matSuffix
        title="Toggle inherited rules analysis">
        <fa-icon 
          [icon]="['fas', filter.snapshot.showInheritedRules? 'eye' : 'eye-slash']">
        </fa-icon>
      </a>

      <a
        (click)="clearRuleNameFilter()"
        mat-button
        mat-icon-button
        matSuffix
        title="Clear filter rules input">
        <fa-icon 
          [icon]="['fas', 'times']">
        </fa-icon>
      </a>

  </mat-form-field>

</form>
