:host {
  display: block;
  // NOTE: margin is a hack to account for rules gutter
  margin-left: 1.5rem;
}

form {
  background: var(--vscode-editorGroup-dropBackground);
  border: 1px solid var(--vscode-editorGroup-border);
  padding: 0 0.5rem;

  fa-icon {
    cursor: pointer;
    opacity: 0.6;
  }

  .mat-form-field {
    height: 2rem;
    width: 100%;
  }

  /* stylelint-disable selector-pseudo-element-no-unknown */
  ::ng-deep .mat-form-field-infix {
    border-top: 0.5rem;
  }

}
