<div 
  class="filter">

  <input
    (keyup)="filterRuleName($event.target.value)"
    #input 
    placeholder="Filter rules">

  <div
    (click)="toggleInheritedRules()"
    title="Toggle inherited rules analysis">

    <fa-icon 
      [icon]="['fas', filter.snapshot.showInheritedRules ? 'eye' : 'eye-slash']">
    </fa-icon>

  </div>

  <div
    (click)="clearRuleNameFilter()"
    title="Clear filter rules input">

    <fa-icon 
      [icon]="['fas', 'times']">
    </fa-icon>

  </div>

</div>
