<form
  [formGroup]="filterForm"
  autocomplete="off"
  novalidate>

  <mat-form-field
    appearance="legacy"
    floatLabel="never">

    <input
      formControlName="filter"
      matInput
      placeholder="Filter rules"
      type="text">

      <fa-icon 
        (click)="toggleInheritedRules()"
        [icon]="['fas', filter.snapshot.showInheritedRules? 'eye' : 'eye-slash']"
        matSuffix
        title="Toggle inherited rules analysis">
      </fa-icon>

      <fa-icon 
        (click)="clearRuleNameFilter()"
        [icon]="['fas', 'times']"
        matSuffix
        title="Clear filter rules input">
      </fa-icon>

  </mat-form-field>

</form>
