:host {
  align-content: start;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1rem 1fr;
  // TODO: hack for scrolling -- extra 2rem a fudge for main padding
  height: calc(100vh - 2rem);
  overflow-y: auto;
  padding-right: 1rem;
}

.gutter {
  border-right: 2px solid transparent;

  &.active {
    border-right-color: var(--vscode-editorGutter-modifiedBackground);
  }

  &.inherited {
    border-right-color: var(--vscode-editorGutter-modifiedBackground);
    border-right-style: dotted;
  }

  &.active.inherited {
    // border-right-style: dashed;
    border-right-style: solid;
  }

}

.message {
  align-items: center;
  background-color: var(--vscode-settings-dropdownBackground);
  display: grid;
  grid-column: 1 / span 2;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr;
  line-height: 150%;
  padding: 1rem;
}

.property {
  max-width: 41.5rem;

  .description {
    color: var(--vscode-descriptionForeground);
    line-height: 150%;
  }

  .disabled {
    cursor: not-allowed !important;
    opacity: var(--lintel-opacity-disabled);
  }

  .name {
    border: 0 solid var(--vscode-textPreformat-foreground);
    color: var(--vscode-textPreformat-foreground);
    font-family: monospace;
    font-weight: bold;
    line-height: 175%;
    outline: none;
    text-decoration: none;

    &:hover {
      border-bottom-width: 1px;
    }

    &.active {
      font-weight: bold;
    }

  }

  .settings {
    margin-top: 0.5rem;

    .editSettings {
      cursor: pointer;
      margin-top: 0.5rem;
    }

  }

  // NOTE: special version of description for properties that are just a checkbox

  &.noInlineConfig,
  &.reportUnusedDisableDirectives,
  &.root {

    .description {
      display: grid;
      grid-template-columns: auto 1fr;
    }

  }

}
