<ng-container
  [formGroup]="generalForm">

  <ng-container
    *ngFor="let property of properties">

    <div
      [ngClass]="{active: configs.configuration.hasOwnProperty(property)}"
      class="gutter">
    </div>

    <div 
      [ngClass]="property"
      class="property">

      <div
        [ngClass]="{active: configs.configuration.hasOwnProperty(property)}"
        class="name">
        {{ property }}
      </div>

      <div
        class="description">

        <!-- NOTE: special version of description for properties that are just a checkbox -->

        <lintel-checkbox
          *ngIf="property === 'noInlineConfig'"
          formControlName="noInlineConfig">
        </lintel-checkbox>

        <lintel-checkbox
          *ngIf="property === 'root'"
          formControlName="root">
        </lintel-checkbox>

        <lintel-checkbox
          *ngIf="property === 'reportUnusedDisableDirectives'"
          formControlName="reportUnusedDisableDirectives">
        </lintel-checkbox>

        <div>{{ schema.properties[property]?.description }}</div>

      </div>

      <div
        [ngSwitch]="property"
        class="settings">

        <lintel-multiselector
          [options]="options.ecmaFeatures"
          *ngSwitchCase="'ecmaFeatures'"
          columnWidth="15rem"
          formControlName="ecmaFeatures">
        </lintel-multiselector>

        <lintel-multiselector
          [options]="options.env"
          *ngSwitchCase="'env'"
          columnWidth="10rem"
          formControlName="env">
        </lintel-multiselector>

        <lintel-input
          *ngSwitchCase="'parser'"
          formControlName="parser">
        </lintel-input>

      </div>

    </div>

  </ng-container>

</ng-container>
