:host {
  align-content: start;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1rem 1fr;
  // TODO: hack for scrolling -- extra 2rem a fudge for main padding
  height: calc(100vh - 2rem);
  overflow-y: auto;
  padding-right: 1rem;
}

.gutter {

  &.active {
    border-right: 2px solid var(--vscode-editorGutter-modifiedBackground);
  }

}

.property {

  .description {
    color: var(--vscode-descriptionForeground);
    line-height: 150%;
  }

  .name {
    border: 0 solid var(--vscode-textPreformat-foreground);
    color: var(--vscode-textPreformat-foreground);
    font-family: monospace;
    line-height: 175%;
    outline: none;
    text-decoration: none;

    &:hover {
      border-bottom-width: 1px;
    }

    &.active {
      font-weight: bold;
    }

  }

  .settings {
    margin-top: 0.5rem;

    .parserOptions {
      display: grid;
      grid-column-gap: 0.5rem;
      grid-row-gap: 1rem;
      grid-template-columns: repeat(auto-fit, 20.5rem);

      .option {
        align-content: start;
        display: grid;
        grid-gap: 0.25rem;
        grid-template-columns: 1fr;

        .checkbox {
          display: flex;
        }

        .desc {
          color: var(--vscode-descriptionForeground);
          line-height: 125%;
        }

        .tag {
          color: var(--vscode-textPreformat-foreground);
          font-family: monospace;
        }

      }

    }

  }

  // NOTE: special version of description for properties that are just a checkbox

  &.noInlineConfig,
  &.reportUnusedDisableDirectives,
  &.root {

    .description {
      display: grid;
      grid-template-columns: auto 1fr;
    }

  }

}
