<ng-container
  [formGroup]="generalForm">

  <ng-container
    *ngFor="let property of properties">

    <div
      [ngClass]="{active: isConfigured(property[0])}"
      class="gutter">
    </div>

    <section 
      [ngClass]="property[0]"
      class="property">

      <a
        [href]="'https://eslint.org/docs/user-guide/configuring#' + property[1]"
        [ngClass]="{active: isConfigured(property[0])}"
        class="name"
        target="lintel"
        tabIndex=-1>
        {{ property[0] }}
      </a>

      <article
        class="description">

        <!-- NOTE: special version of description for properties that are just a checkbox -->

        <ng-container
          [ngSwitch]="property[0]">

          <ng-container
            *ngSwitchCase="'noInlineConfig'">

            <lintel-checkbox
              formControlName="noInlineConfig">
            </lintel-checkbox>

            <div>{{ schema.properties.noInlineConfig.description }}</div>

          </ng-container>

          <ng-container
            *ngSwitchCase="'root'">

            <lintel-checkbox
              formControlName="root">
            </lintel-checkbox>

            <div>{{ schema.properties.root.description }}</div>

          </ng-container>

          <ng-container
            *ngSwitchCase="'reportUnusedDisableDirectives'">

            <lintel-checkbox
              formControlName="reportUnusedDisableDirectives">
            </lintel-checkbox>

            <!-- NOTE: for some reason, this isn't in the schema -->

            <div>To report unused eslint-disable comments, use reportUnusedDisableDirectives setting.</div>

          </ng-container>

          <div
            *ngSwitchDefault>
            {{ schema.properties[property[0]]?.description }}
          </div>

        </ng-container>

      </article>

      <article
        [ngSwitch]="property[0]"
        class="settings">

        <lintel-multiselector
          [options]="options.ecmaFeatures"
          *ngSwitchCase="'ecmaFeatures'"
          columnWidth="20.5rem"
          formControlName="ecmaFeatures">
        </lintel-multiselector>

        <lintel-multiselector
          [options]="options.env"
          *ngSwitchCase="'env'"
          columnWidth="10rem"
          formControlName="env">
        </lintel-multiselector>

        <lintel-input-array
          *ngSwitchCase="'extends'"
          columnWidth="20.5rem"
          formControlName="extends">
        </lintel-input-array>

        <lintel-key-value
          [valueConstraints]="options.globals"
          *ngSwitchCase="'globals'"
          columnWidth="20.5rem"
          formControlName="globals">
        </lintel-key-value>

        <lintel-input-array
          *ngSwitchCase="'ignorePatterns'"
          columnWidth="10rem"
          formControlName="ignorePatterns">
        </lintel-input-array>

        <lintel-input
          *ngSwitchCase="'parser'"
          formControlName="parser">
        </lintel-input>

        <ng-container
          *ngSwitchCase="'parserOptions'">

          <ng-container 
            *ngTemplateOutlet="parserOptionsTemplate">
          </ng-container>

        </ng-container>

        <lintel-input-array
          *ngSwitchCase="'plugins'"
          columnWidth="10rem"
          formControlName="plugins">
        </lintel-input-array>

        <ng-container
          *ngSwitchCase="'settings'">

          <lintel-key-value
            *ngIf="canDoSettings(); else cantDoSettings"
            columnWidth="20.5rem"
            formControlName="settings">
          </lintel-key-value>

          <ng-template
            #cantDoSettings>
            <div
              (click)="editFile(selection.fileName)"
              class="cantDoSettings">
              <a>Edit in {{ configs.shortFileName(selection.fileName) }}</a>
            </div>
          </ng-template>

        </ng-container>

      </article>

    </section>

  </ng-container>

  <!-- NOTE: parserOptions isolated for readability -->

  <ng-template 
    #parserOptionsTemplate>

    <ng-container
      formGroupName="parserOptions">

      <article
        class="parserOptions">

        <div
          *ngFor="let option of ['ecmaVersion', 'sourceType']"
          class="option">

          <div
            class="tag">
            .{{ option }}
          </div>

          <lintel-singleselector
            [formControlName]="option"
            [options]="options[option]"
            placeholder="-- Default value of '{{ defaults[option] }}' --">
          </lintel-singleselector>

          <div
            class="desc">
            {{ descriptions[option] }}
          </div>

        </div>

        <ng-container
          *ngIf="configs.configuration.parser === '@typescript-eslint/parser'">


          <div
            *ngFor="let option of ['project', 'projectFolderIgnoreList', 'extraFileExtensions']"
            class="option">

            <div
              class="tag">
              .{{ option }}
            </div>

            <lintel-input-array
              [formControlName]="option"
              columnWidth="1fr">
            </lintel-input-array>

          </div>

          <div  
             class="option">

            <div
              class="tag">
              .tsconfigRootDir
            </div>

            <lintel-input
              formControlName="tsconfigRootDir">
            </lintel-input>

          </div>

          <div  
             class="option">

            <div
              class="tag">
              .warnOnUnsupportedTypeScriptVersion
            </div>

            <div
              class="checkbox">

              <lintel-checkbox
                formControlName="warnOnUnsupportedTypeScriptVersion">
              </lintel-checkbox>

              <div
                class="desc">
                Toggle parser warning for a version of TypeScript not explicitly supported
              </div>

            </div>

          </div>

        </ng-container>
        
      </article>

    </ng-container>

  </ng-template>

</ng-container>
