<ng-container
  [formGroup]="generalForm">

  <ng-container
    *ngFor="let property of properties">

    <div
      [ngClass]="{active: configs.configuration.hasOwnProperty(property[0])}"
      class="gutter">
    </div>

    <div 
      [ngClass]="property[0]"
      class="property">

      <a
        [href]="'https://eslint.org/docs/user-guide/configuring#' + property[1]"
        [ngClass]="{active: configs.configuration.hasOwnProperty(property[0])}"
        class="name"
        target="lintel">
        {{ property[0] }}
      </a>

      <div
        class="description">

        <!-- NOTE: special version of description for properties that are just a checkbox -->

        <lintel-checkbox
          *ngIf="property[0] === 'noInlineConfig'"
          formControlName="noInlineConfig">
        </lintel-checkbox>

        <lintel-checkbox
          *ngIf="property[0] === 'root'"
          formControlName="root">
        </lintel-checkbox>

        <lintel-checkbox
          *ngIf="property[0] === 'reportUnusedDisableDirectives'"
          formControlName="reportUnusedDisableDirectives">
        </lintel-checkbox>

        <div>{{ schema.properties[property[0]]?.description }}</div>

      </div>

      <div
        [ngSwitch]="property[0]"
        class="settings">

        <lintel-multiselector
          [options]="options.ecmaFeatures"
          *ngSwitchCase="'ecmaFeatures'"
          columnWidth="15rem"
          formControlName="ecmaFeatures">
        </lintel-multiselector>

        <lintel-multiselector
          [options]="options.env"
          *ngSwitchCase="'env'"
          columnWidth="10rem"
          formControlName="env">
        </lintel-multiselector>

        <lintel-input-array
          *ngSwitchCase="'extends'"
          columnWidth="20rem"
          formControlName="extends">
        </lintel-input-array>

        <lintel-input-array
          *ngSwitchCase="'ignorePatterns'"
          columnWidth="10rem"
          formControlName="ignorePatterns">
        </lintel-input-array>

        <lintel-input
          *ngSwitchCase="'parser'"
          formControlName="parser">
        </lintel-input>

        <lintel-input-array
          *ngSwitchCase="'plugins'"
          columnWidth="10rem"
          formControlName="plugins">
        </lintel-input-array>

      </div>

    </div>

  </ng-container>

</ng-container>
