:host {
  display: block;
}

.overrides {
  display: grid;
  grid-row-gap: 0.75rem;
  grid-template-columns: repeat(auto-fit, 1fr);

  [prefix] {
    margin-right: 0.5rem;
  }

  [suffix] {
    margin-left: 0;
    opacity: var(--lintel-opacity-icon);
  }
}
