<article [formGroup]="parserOptionsForm" class="parserOptions">
  <div class="option">
    <p class="tag">.ecmaVersion</p>

    <lintel-singleselector
      [enabled]="lintel.isEnabled"
      [options]="makeOptionsForSingleselector('parserOptions.properties.ecmaVersion')"
      [placeholder]="configs.extension.parserOptions?.ecmaVersion || ' '"
      formControlName="ecmaVersion"
    >
    </lintel-singleselector>

    <p class="desc">
      {{ schema.properties.parserOptions.properties.ecmaVersion.description }}
    </p>
  </div>

  <div class="option">
    <p class="tag">.sourceType</p>

    <lintel-singleselector
      [enabled]="lintel.isEnabled"
      [options]="makeOptionsForSingleselector('parserOptions.properties.sourceType')"
      [placeholder]="configs.extension.parserOptions?.sourceType || ' '"
      formControlName="sourceType"
    >
    </lintel-singleselector>

    <p class="desc">
      {{ schema.properties.parserOptions.properties.sourceType.description }}
    </p>
  </div>
</article>
