<ng-container
  *ngIf="!utils.isEmptyObject(view)">

  <ng-container
    *ngFor="let item of view | keyvalue; trackBy: trackByRule">

    <ng-container
      *ngIf="configs.makeRuleDigest(item.key, item.value[0], item.value[1]) as ruleDigest">

      <aside
        (mouseout)="tools.style.opacity = 0"
        (mouseover)="tools.style.opacity = 1"
        [ngClass]="{active: !!ruleDigest.settings, inherited: ruleDigest.inherited, unknown: !ruleDigest.rule}"
        class="gutter">

        <div
          #tools
          class="tools">

          <fa-icon
            (click)="showContextMenu($event, ruleDigest)"
            [contextMenu]="contextMenu"
            [contextMenuSubject]="ruleDigest"
            [icon]="['fas', 'cog']"
            *ngIf="isRuleDefined(ruleDigest) || canExportRule(ruleDigest)">
          </fa-icon>

        </div>

      </aside>

      <lintel-rule
        (mouseout)="tools.style.opacity = 0"
        (mouseover)="tools.style.opacity = 1"
        [isHydrated]="false"
        [lintelHydrated]="ruleDigest.ruleName"
        [ruleDigest]="ruleDigest"
        [schemaDigest]="rules.makeSchemaDigest(item.key, item.value[0])"
        #rule>
      </lintel-rule>

      <div></div>

    </ng-container>

  </ng-container>

</ng-container>

<ng-container
  *ngIf="utils.isEmptyObject(view)">

  <div></div>
  <div>No matching rules in {{ selection.category }}</div>
  <div></div>

</ng-container>

<context-menu>

  <ng-template
    contextMenuItem
    (execute)="execute($event.item, 'delete')"
    [enabled]="isRuleDefined.bind(this)">
    <div>Remove this rule</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="execute($event.item, 'export')"
    [enabled]="canExportRule.bind(this)">
    <div>Copy rule as JSON</div>
  </ng-template>

</context-menu>
