<ng-container
  *ngIf="!utils.isEmptyObject(view)">

  <ng-container
    *ngFor="let item of view | keyvalue; trackBy: trackByRule">

    <ng-container
      *ngIf="configs.makeRuleDigest(item.key, item.value[0], item.value[1]) as ruleDigest">

      <div
        [ngClass]="{active: !!ruleDigest.settings, inherited: ruleDigest.inherited, unknown: !ruleDigest.rule}"
        class="gutter">
      </div>

      <lintel-rule
        [ruleDigest]="ruleDigest"
        [schemaDigest]="rules.makeSchemaDigest(item.key, item.value[0])">
      </lintel-rule>

    </ng-container>

  </ng-container>

</ng-container>

<ng-container
  *ngIf="utils.isEmptyObject(view)">

  <div></div>
  <div>No matching rules in {{ selection.category }}</div>

</ng-container>
