:host {
  align-content: start;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 3rem;
  grid-template-columns: 1.5rem 1fr 1rem;
}

.gutter {
  border-right: 2px solid transparent;
  display: flex;
  justify-content: center;
  // NOTE: just a guess at the "normal" hydrated height so the
  // scrollbar doesn't look too weird during hydration

  min-height: 4rem;
  padding: 2px;
  visibility: hidden;

  &.active {
    border-right-color: var(--vscode-editorGutter-modifiedBackground);
  }

  &.hydrated {
    visibility: visible;
  }

  &.inherited {
    border-right-color: var(--vscode-editorGutter-modifiedBackground);
    border-right-style: dotted;
  }

  &.unknown {
    border-right-color: var(--vscode-inputValidation-errorBorder);
  }

  .tools {
    cursor: pointer;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
}

.message {
  align-items: center;
  background-color: var(--vscode-settings-dropdownBackground);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr;
  line-height: 150%;
  padding: 1rem;
}

.rule {
  visibility: hidden;

  &.hydrated {
    visibility: visible;
  }
}
