<a
  [href]="ruleDigest.url"
  [ngClass]="{inherited: ruleDigest.inherited}"
  class="ruleName {{ ruleDigest.level }}"
  target="lintel">
  {{ ruleDigest.ruleName }}: '{{ ruleDigest.level }}'
</a>

<div
  *ngIf="ruleDigest.description">

  <span
    *ngIf="ruleDigest.deprecated">
    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
    Deprecated.
    <span
      *ngIf="ruleDigest.replacedBy.length">
      Please use <span class="replacedBy">{{ ruleDigest.replacedBy.join(', ') }}</span>.
    </span>
  </span>

  {{ ruleDigest.description }}
</div>

<div 
  [formGroup]="ruleForm"
  *ngIf="ruleDigest.rule"
  class="settings">

  <lintel-singleselector
    [options]="['off', 'warn', 'error']"
    formControlName="level">
  </lintel-singleselector>

  <div
    *ngIf="schemaDigest.canGUI"
    formGroupName="root"
    class="elements">

    <ng-container
      *ngTemplateOutlet="elementsTemplate; context: {controls: controls, elements: schemaDigest.elements}">
    </ng-container>

  </div>

  <pre
    *ngIf="!schemaDigest.canGUI && !notYet()">
    {{ ruleDigest.rule.meta.schema | json }}
  </pre>

  <div
    *ngIf="!schemaDigest.canGUI && notYet()"
    class="notYet">
    Contains "oneOf" or "anyOf".
  </div>

</div>

<!-- NOTE: elements built recursively -->

<ng-template
  #elementsTemplate
  let-controls="controls"
  let-elements="elements">

  <ng-container
    *ngFor="let element of elements; let ix = index">

    <ng-container
      [ngSwitch]="element.type">

      <div
        *ngIf="element.name"
        class="name">
        {{ element.name }}:
      </div>

      <lintel-checkbox
        [formControl]="controls[ix]"
        *ngSwitchCase="'checkbox'"
        class="checkbox">
      </lintel-checkbox>

      <lintel-key-value
        [formControl]="controls[ix]"
        [max]="element.max"
        [min]="element.min"
        [step]="element.step"
        [type]="element.subType"
        *ngSwitchCase="'key-value'"
        class="key-value">
      </lintel-key-value>

      <lintel-multiselector
        [formControl]="controls[ix]"
        [options]="element.options"
        *ngSwitchCase="'multiselect'">
      </lintel-multiselector>

      <lintel-input-array
        [formControl]="controls[ix]"
        [uniqueItems]="element.uniqueItems"
        *ngSwitchCase="'number-array'"
        class="number-array"
        columnWidth="10rem"
        type="number">
      </lintel-input-array>

      <lintel-input
        [formControl]="controls[ix]"
        [max]="element.max"
        [min]="element.min"
        [step]="element.step"
        *ngSwitchCase="'number-input'"
        class="number-input"
        type="number">
      </lintel-input>

      <div
        *ngSwitchCase="'object'"
        class="object">

        <ng-container
          *ngTemplateOutlet="elementsTemplate; context: {controls: formGroupControls(controls[ix]), elements: element.elements}">
        </ng-container>

      </div>

      <lintel-select-array
        [formControl]="controls[ix]"
        [uniqueItems]="element.uniqueItems"
        [options]="element.options"
        *ngSwitchCase="'select-array'"
        class="select-array"
        columnWidth="15rem">
      </lintel-select-array>

      <lintel-singleselector
        [formControl]="controls[ix]"
        [options]="element.options"
        *ngSwitchCase="'singleselect'"
        class="single-select">
      </lintel-singleselector>

      <lintel-input-array
        [formControl]="controls[ix]"
        [uniqueItems]="element.uniqueItems"
        *ngSwitchCase="'string-array'"
        class="string-array"
        columnWidth="15rem"
        type="text">
      </lintel-input-array>

      <lintel-input
        [formControl]="controls[ix]"
        *ngSwitchCase="'string-input'"
        class="string-input"
        type="text">
      </lintel-input>

    </ng-container>

  </ng-container>

</ng-template>
