<a
  [href]="ruleDigest.url"
  [ngClass]="{inherited: ruleDigest.inherited}"
  class="ruleName {{ ruleDigest.level }}"
  target="lintel">
  {{ ruleDigest.ruleName }}: '{{ ruleDigest.level }}'
</a>

<div
  *ngIf="ruleDigest.description">
  {{ ruleDigest.description }}
</div>

<div
  *ngIf="ruleDigest.deprecated"
  class="deprecated">
  <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
  Deprecated.
  <span
    *ngIf="ruleDigest.replacedBy.length">
    Please use <span class="replacedBy">{{ ruleDigest.replacedBy.join(', ') }}</span>.
  </span>
</div>

<div 
  [formGroup]="ruleForm"
  *ngIf="ruleDigest.rule"
  class="settings">

  <lintel-singleselector
    [options]="['off', 'warn', 'error']"
    formControlName="level">
  </lintel-singleselector>

  <div
    *ngIf="schemaDigest.canGUI"
    class="elements">

    <ng-container
      *ngFor="let element of schemaDigest.elements; let ix = index">

      <ng-container
        [ngSwitch]="element.type">

        <lintel-multiselector
          [formControl]="controls[ix]"
          [options]="element.options"
          *ngSwitchCase="'multiselect'"
          columnWidth="5rem">
        </lintel-multiselector>

        <lintel-singleselector
          [formControl]="controls[ix]"
          [options]="element.options"
          *ngSwitchCase="'singleselect'">
        </lintel-singleselector>

      </ng-container>

    </ng-container>

  </div>

  <pre
    *ngIf="!schemaDigest.canGUI">
    {{ ruleDigest.rule.meta.schema | json }}
  </pre>

</div>
