:host {
  align-content: start;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 3rem;
  grid-template-columns: 1rem 1fr;
  padding-right: 1rem;
}

.gutter {

  &.active {
    border-right: 2px solid var(--vscode-editorGutter-modifiedBackground);
  }

  &.inherited {
    opacity: var(--lintel-opacity-icon);
  }

  &.unknown {
    border-right: 2px solid var(--vscode-inputValidation-errorBorder);
  }

}
