<a
  [href]="ruleDigest.url"
  [ngClass]="{inherited: ruleDigest.inherited}"
  class="ruleName {{ ruleDigest.level }}"
  target="lintel">
  {{ ruleDigest.ruleName }}: '{{ ruleDigest.level }}'
</a>

<div
  *ngIf="ruleDigest.description">

  <span
    *ngIf="ruleDigest.deprecated">
    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
    Deprecated.
    <span
      *ngIf="ruleDigest.replacedBy.length">
      Please use <span class="replacedBy">{{ ruleDigest.replacedBy.join(', ') }}</span>.
    </span>
  </span>

  {{ ruleDigest.description }}
</div>

<div 
  [formGroup]="ruleForm"
  *ngIf="ruleDigest.rule"
  class="settings">

  <lintel-singleselector
    [options]="['off', 'warn', 'error']"
    formControlName="level">
  </lintel-singleselector>

  <div
    *ngIf="schemaDigest.canGUI"
    formGroupName="root"
    class="elements">

    <ng-container
      *ngTemplateOutlet="elements;context:{elements: schemaDigest.elements}">
    </ng-container>

  </div>

  <pre
    *ngIf="!schemaDigest.canGUI && !notYet()">
    {{ ruleDigest.rule.meta.schema | json }}
  </pre>

  <div
    *ngIf="!schemaDigest.canGUI && notYet()"
    class="notYet">
    Contains "oneOf" or "anyOf".
  </div>

</div>

<!-- NOTE: elements built recursively -->

<ng-template
  #elements
  let-elements="elements">

  <ng-container
    *ngFor="let element of elements; let ix = index">

    <ng-container
      [ngSwitch]="element.type">

      <lintel-multiselector
        [formControl]="controls[ix]"
        [options]="element.options"
        *ngSwitchCase="'multiselect'">
      </lintel-multiselector>

      <lintel-input
        [formControl]="controls[ix]"
        [max]="element.max"
        [min]="element.min"
        *ngSwitchCase="'number-input'"
        type="number">
      </lintel-input>

      <lintel-singleselector
        [formControl]="controls[ix]"
        [options]="element.options"
        *ngSwitchCase="'singleselect'">
      </lintel-singleselector>

      <lintel-input-array
        [formControl]="controls[ix]"
        [uniqueItems]="element.uniqueItems"
        *ngSwitchCase="'string-array'"
        columnWidth="15rem">
      </lintel-input-array>

      <lintel-input
        [formControl]="controls[ix]"
        *ngSwitchCase="'string-input'"
        type="text">
      </lintel-input>

    </ng-container>

  </ng-container>

</ng-template>
