<lintel-filter
  class="filter">
</lintel-filter>

<lintel-tabs
  (pluginSelected)="rules.scrollTo({ top: 0, left: 0, behavior: 'smooth' })"
  class="tabs">
</lintel-tabs>

<div
  [ngSwitch]="selection.category"
  #rules
  class="rules">

  <lintel-rules 
    [view]="configs.activeView"
    *ngSwitchCase="params.activeCategory">
  </lintel-rules>

  <lintel-rules 
    [view]="configs.unknownView"
    *ngSwitchCase="params.unknownCategory">
  </lintel-rules>

  <lintel-rules 
    [view]="configs.categoryView[selection.category]"
    *ngSwitchDefault>
  </lintel-rules>

</div>
