<ng-container
  *ngIf="whichPlugins() as which">

  <menu  
    class="tabs">

    <li
      (click)="selectPluginName(pluginName)"
      [ngClass]="{selected: pluginName === selection.pluginName, unknown: pluginName === params.unknownPluginName}"
      *ngFor="let pluginName of which.inTab"
      class="tab">

      {{ pluginName }} 

    </li>

  </menu>

  <lintel-singleselector
    [options]="which.inMore"
    [value]="selection.pluginName"
    *ngIf="which.inMore.length"
    class="more"
    placeholder="More...">
  </lintel-singleselector>

</ng-container>
