:host {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-left: var(--rules-gutter);
}

.more {
  margin-left: 1rem;
}

.tabs {
  align-items: flex-start;
  display: flex;

  .tab {
    border-bottom: 1px solid var(--vscode-settings-headerForeground);
    color: var(--vscode-settings-headerForeground);
    cursor: pointer;
    opacity: var(--lintel-opacity-icon);
    padding: 0 0.5rem 0.5rem 0.5rem;
    white-space: nowrap;

    &.selected {
      opacity: 1;
    }

    &.unknown {
      border-bottom: 1px solid var(--vscode-inputValidation-errorBorder);
      color: var(--vscode-inputValidation-errorBorder);
    }

  }

}
