:root {
  --google-red-100: #f4c7c3;
  --google-red-300: #e67c73;
  --google-red-500: #db4437;
  --google-red-700: #c53929;

  --google-blue-100: #c6dafc;
  --google-blue-300: #7baaf7;
  --google-blue-500: #4285f4;
  --google-blue-700: #3367d6;

  --google-green-100: #b7e1cd;
  --google-green-300: #57bb8a;
  --google-green-500: #0f9d58;
  --google-green-700: #0b8043;

  --google-yellow-100: #fce8b2;
  --google-yellow-300: #f7cb4d;
  --google-yellow-500: #f4b400;
  --google-yellow-700: #f09300;

  --google-grey-100: #f5f5f5;
  --google-grey-300: #e0e0e0;
  --google-grey-500: #9e9e9e;
  --google-grey-700: #616161;

  --google-gray-100: #f5f5f5;
  --google-gray-300: #e0e0e0;
  --google-gray-500: #9e9e9e;
  --google-gray-700: #616161;

  --mat-red-50: #ffebee;
  --mat-red-100: #ffcdd2;
  --mat-red-200: #ef9a9a;
  --mat-red-300: #e57373;
  --mat-red-400: #ef5350;
  --mat-red-500: #f44336;
  --mat-red-600: #e53935;
  --mat-red-700: #d32f2f;
  --mat-red-800: #c62828;
  --mat-red-900: #b71c1c;
  --mat-red-a100: #ff8a80;
  --mat-red-a200: #ff5252;
  --mat-red-a400: #ff1744;
  --mat-red-a700: #d50000;

  --mat-pink-50: #fce4ec;
  --mat-pink-100: #f8bbd0;
  --mat-pink-200: #f48fb1;
  --mat-pink-300: #f06292;
  --mat-pink-400: #ec407a;
  --mat-pink-500: #e91e63;
  --mat-pink-600: #d81b60;
  --mat-pink-700: #c2185b;
  --mat-pink-800: #ad1457;
  --mat-pink-900: #880e4f;
  --mat-pink-a100: #ff80ab;
  --mat-pink-a200: #ff4081;
  --mat-pink-a400: #f50057;
  --mat-pink-a700: #c51162;

  --mat-purple-50: #f3e5f5;
  --mat-purple-100: #e1bee7;
  --mat-purple-200: #ce93d8;
  --mat-purple-300: #ba68c8;
  --mat-purple-400: #ab47bc;
  --mat-purple-500: #9c27b0;
  --mat-purple-600: #8e24aa;
  --mat-purple-700: #7b1fa2;
  --mat-purple-800: #6a1b9a;
  --mat-purple-900: #4a148c;
  --mat-purple-a100: #ea80fc;
  --mat-purple-a200: #e040fb;
  --mat-purple-a400: #d500f9;
  --mat-purple-a700: #aa00ff;

  --mat-deep-purple-50: #ede7f6;
  --mat-deep-purple-100: #d1c4e9;
  --mat-deep-purple-200: #b39ddb;
  --mat-deep-purple-300: #9575cd;
  --mat-deep-purple-400: #7e57c2;
  --mat-deep-purple-500: #673ab7;
  --mat-deep-purple-600: #5e35b1;
  --mat-deep-purple-700: #512da8;
  --mat-deep-purple-800: #4527a0;
  --mat-deep-purple-900: #311b92;
  --mat-deep-purple-a100: #b388ff;
  --mat-deep-purple-a200: #7c4dff;
  --mat-deep-purple-a400: #651fff;
  --mat-deep-purple-a700: #6200ea;

  --mat-indigo-50: #e8eaf6;
  --mat-indigo-100: #c5cae9;
  --mat-indigo-200: #9fa8da;
  --mat-indigo-300: #7986cb;
  --mat-indigo-400: #5c6bc0;
  --mat-indigo-500: #3f51b5;
  --mat-indigo-600: #3949ab;
  --mat-indigo-700: #303f9f;
  --mat-indigo-800: #283593;
  --mat-indigo-900: #1a237e;
  --mat-indigo-a100: #8c9eff;
  --mat-indigo-a200: #536dfe;
  --mat-indigo-a400: #3d5afe;
  --mat-indigo-a700: #304ffe;

  --mat-blue-50: #e3f2fd;
  --mat-blue-100: #bbdefb;
  --mat-blue-200: #90caf9;
  --mat-blue-300: #64b5f6;
  --mat-blue-400: #42a5f5;
  --mat-blue-500: #2196f3;
  --mat-blue-600: #1e88e5;
  --mat-blue-700: #1976d2;
  --mat-blue-800: #1565c0;
  --mat-blue-900: #0d47a1;
  --mat-blue-a100: #82b1ff;
  --mat-blue-a200: #448aff;
  --mat-blue-a400: #2979ff;
  --mat-blue-a700: #2962ff;

  --mat-light-blue-50: #e1f5fe;
  --mat-light-blue-100: #b3e5fc;
  --mat-light-blue-200: #81d4fa;
  --mat-light-blue-300: #4fc3f7;
  --mat-light-blue-400: #29b6f6;
  --mat-light-blue-500: #03a9f4;
  --mat-light-blue-600: #039be5;
  --mat-light-blue-700: #0288d1;
  --mat-light-blue-800: #0277bd;
  --mat-light-blue-900: #01579b;
  --mat-light-blue-a100: #80d8ff;
  --mat-light-blue-a200: #40c4ff;
  --mat-light-blue-a400: #00b0ff;
  --mat-light-blue-a700: #0091ea;

  --mat-cyan-50: #e0f7fa;
  --mat-cyan-100: #b2ebf2;
  --mat-cyan-200: #80deea;
  --mat-cyan-300: #4dd0e1;
  --mat-cyan-400: #26c6da;
  --mat-cyan-500: #00bcd4;
  --mat-cyan-600: #00acc1;
  --mat-cyan-700: #0097a7;
  --mat-cyan-800: #00838f;
  --mat-cyan-900: #006064;
  --mat-cyan-a100: #84ffff;
  --mat-cyan-a200: #18ffff;
  --mat-cyan-a400: #00e5ff;
  --mat-cyan-a700: #00b8d4;

  --mat-teal-50: #e0f2f1;
  --mat-teal-100: #b2dfdb;
  --mat-teal-200: #80cbc4;
  --mat-teal-300: #4db6ac;
  --mat-teal-400: #26a69a;
  --mat-teal-500: #009688;
  --mat-teal-600: #00897b;
  --mat-teal-700: #00796b;
  --mat-teal-800: #00695c;
  --mat-teal-900: #004d40;
  --mat-teal-a100: #a7ffeb;
  --mat-teal-a200: #64ffda;
  --mat-teal-a400: #1de9b6;
  --mat-teal-a700: #00bfa5;

  --mat-green-50: #e8f5e9;
  --mat-green-100: #c8e6c9;
  --mat-green-200: #a5d6a7;
  --mat-green-300: #81c784;
  --mat-green-400: #66bb6a;
  --mat-green-500: #4caf50;
  --mat-green-600: #43a047;
  --mat-green-700: #388e3c;
  --mat-green-800: #2e7d32;
  --mat-green-900: #1b5e20;
  --mat-green-a100: #b9f6ca;
  --mat-green-a200: #69f0ae;
  --mat-green-a400: #00e676;
  --mat-green-a700: #00c853;

  --mat-light-green-50: #f1f8e9;
  --mat-light-green-100: #dcedc8;
  --mat-light-green-200: #c5e1a5;
  --mat-light-green-300: #aed581;
  --mat-light-green-400: #9ccc65;
  --mat-light-green-500: #8bc34a;
  --mat-light-green-600: #7cb342;
  --mat-light-green-700: #689f38;
  --mat-light-green-800: #558b2f;
  --mat-light-green-900: #33691e;
  --mat-light-green-a100: #ccff90;
  --mat-light-green-a200: #b2ff59;
  --mat-light-green-a400: #76ff03;
  --mat-light-green-a700: #64dd17;

  --mat-lime-50: #f9fbe7;
  --mat-lime-100: #f0f4c3;
  --mat-lime-200: #e6ee9c;
  --mat-lime-300: #dce775;
  --mat-lime-400: #d4e157;
  --mat-lime-500: #cddc39;
  --mat-lime-600: #c0ca33;
  --mat-lime-700: #afb42b;
  --mat-lime-800: #9e9d24;
  --mat-lime-900: #827717;
  --mat-lime-a100: #f4ff81;
  --mat-lime-a200: #eeff41;
  --mat-lime-a400: #c6ff00;
  --mat-lime-a700: #aeea00;

  --mat-yellow-50: #fffde7;
  --mat-yellow-100: #fff9c4;
  --mat-yellow-200: #fff59d;
  --mat-yellow-300: #fff176;
  --mat-yellow-400: #ffee58;
  --mat-yellow-500: #ffeb3b;
  --mat-yellow-600: #fdd835;
  --mat-yellow-700: #fbc02d;
  --mat-yellow-800: #f9a825;
  --mat-yellow-900: #f57f17;
  --mat-yellow-a100: #ffff8d;
  --mat-yellow-a200: #ffff00;
  --mat-yellow-a400: #ffea00;
  --mat-yellow-a700: #ffd600;

  --mat-amber-50: #fff8e1;
  --mat-amber-100: #ffecb3;
  --mat-amber-200: #ffe082;
  --mat-amber-300: #ffd54f;
  --mat-amber-400: #ffca28;
  --mat-amber-500: #ffc107;
  --mat-amber-600: #ffb300;
  --mat-amber-700: #ffa000;
  --mat-amber-800: #ff8f00;
  --mat-amber-900: #ff6f00;
  --mat-amber-a100: #ffe57f;
  --mat-amber-a200: #ffd740;
  --mat-amber-a400: #ffc400;
  --mat-amber-a700: #ffab00;

  --mat-orange-50: #fff3e0;
  --mat-orange-100: #ffe0b2;
  --mat-orange-200: #ffcc80;
  --mat-orange-300: #ffb74d;
  --mat-orange-400: #ffa726;
  --mat-orange-500: #ff9800;
  --mat-orange-600: #fb8c00;
  --mat-orange-700: #f57c00;
  --mat-orange-800: #ef6c00;
  --mat-orange-900: #e65100;
  --mat-orange-a100: #ffd180;
  --mat-orange-a200: #ffab40;
  --mat-orange-a400: #ff9100;
  --mat-orange-a700: #ff6500;

  --mat-deep-orange-50: #fbe9e7;
  --mat-deep-orange-100: #ffccbc;
  --mat-deep-orange-200: #ffab91;
  --mat-deep-orange-300: #ff8a65;
  --mat-deep-orange-400: #ff7043;
  --mat-deep-orange-500: #ff5722;
  --mat-deep-orange-600: #f4511e;
  --mat-deep-orange-700: #e64a19;
  --mat-deep-orange-800: #d84315;
  --mat-deep-orange-900: #bf360c;
  --mat-deep-orange-a100: #ff9e80;
  --mat-deep-orange-a200: #ff6e40;
  --mat-deep-orange-a400: #ff3d00;
  --mat-deep-orange-a700: #dd2c00;

  --mat-brown-50: #efebe9;
  --mat-brown-100: #d7ccc8;
  --mat-brown-200: #bcaaa4;
  --mat-brown-300: #a1887f;
  --mat-brown-400: #8d6e63;
  --mat-brown-500: #795548;
  --mat-brown-600: #6d4c41;
  --mat-brown-700: #5d4037;
  --mat-brown-800: #4e342e;
  --mat-brown-900: #3e2723;

  --mat-grey-50: #fafafa;
  --mat-grey-100: #f5f5f5;
  --mat-grey-150: #f0f0f0;
  --mat-grey-200: #eeeeee;
  --mat-grey-300: #e0e0e0;
  --mat-grey-400: #bdbdbd;
  --mat-grey-500: #9e9e9e;
  --mat-grey-600: #757575;
  --mat-grey-700: #616161;
  --mat-grey-800: #424242;
  --mat-grey-850: #303030;
  --mat-grey-900: #212121;

  --mat-blue-grey-50: #eceff1;
  --mat-blue-grey-100: #cfd8dc;
  --mat-blue-grey-150: #bcc7cc;
  --mat-blue-grey-200: #b0bec5;
  --mat-blue-grey-300: #90a4ae;
  --mat-blue-grey-400: #78909c;
  --mat-blue-grey-500: #607d8b;
  --mat-blue-grey-600: #546e7a;
  --mat-blue-grey-700: #455a64;
  --mat-blue-grey-800: #37474f;
  --mat-blue-grey-850: #2d3b42;
  --mat-blue-grey-900: #263238;

  --mat-gray-50: #fafafa;
  --mat-gray-100: #f5f5f5;
  --mat-gray-150: #f0f0f0;
  --mat-gray-200: #eeeeee;
  --mat-gray-300: #e0e0e0;
  --mat-gray-400: #bdbdbd;
  --mat-gray-500: #9e9e9e;
  --mat-gray-600: #757575;
  --mat-gray-700: #616161;
  --mat-gray-800: #424242;
  --mat-gray-850: #303030;
  --mat-gray-900: #212121;

  --mat-blue-gray-50: #eceff1;
  --mat-blue-gray-100: #cfd8dc;
  --mat-blue-gray-150: #bcc7cc;
  --mat-blue-gray-200: #b0bec5;
  --mat-blue-gray-300: #90a4ae;
  --mat-blue-gray-400: #78909c;
  --mat-blue-gray-500: #607d8b;
  --mat-blue-gray-600: #546e7a;
  --mat-blue-gray-700: #455a64;
  --mat-blue-gray-800: #37474f;
  --mat-blue-gray-850: #2d3b42;
  --mat-blue-gray-900: #263238;

  --rgb-red-50: 255, 235, 238;
  --rgb-red-100: 255, 205, 210;
  --rgb-red-200: 239, 154, 154;
  --rgb-red-300: 229, 115, 115;
  --rgb-red-400: 239, 83, 80;
  --rgb-red-500: 244, 67, 54;
  --rgb-red-600: 229, 57, 53;
  --rgb-red-700: 211, 47, 47;
  --rgb-red-800: 198, 40, 40;
  --rgb-red-900: 183, 28, 28;
  --rgb-red-a100: 255, 138, 128;
  --rgb-red-a200: 255, 82, 82;
  --rgb-red-a400: 255, 23, 68;
  --rgb-red-a700: 213, 0, 0;

  --rgb-pink-50: 252, 228, 236;
  --rgb-pink-100: 248, 187, 208;
  --rgb-pink-200: 244, 143, 177;
  --rgb-pink-300: 240, 98, 146;
  --rgb-pink-400: 236, 64, 122;
  --rgb-pink-500: 233, 30, 99;
  --rgb-pink-600: 216, 27, 96;
  --rgb-pink-700: 194, 24, 91;
  --rgb-pink-800: 173, 20, 87;
  --rgb-pink-900: 136, 14, 79;
  --rgb-pink-a100: 255, 128, 171;
  --rgb-pink-a200: 255, 64, 129;
  --rgb-pink-a400: 245, 0, 87;
  --rgb-pink-a700: 197, 17, 98;

  --rgb-purple-50: 243, 229, 245;
  --rgb-purple-100: 225, 190, 231;
  --rgb-purple-200: 206, 147, 216;
  --rgb-purple-300: 186, 104, 200;
  --rgb-purple-400: 171, 71, 188;
  --rgb-purple-500: 156, 39, 176;
  --rgb-purple-600: 142, 36, 170;
  --rgb-purple-700: 123, 31, 162;
  --rgb-purple-800: 106, 27, 154;
  --rgb-purple-900: 74, 20, 140;
  --rgb-purple-a100: 234, 128, 252;
  --rgb-purple-a200: 224, 64, 251;
  --rgb-purple-a400: 213, 0, 249;
  --rgb-purple-a700: 170, 0, 255;

  --rgb-deep-purple-50: 237, 231, 246;
  --rgb-deep-purple-100: 209, 196, 233;
  --rgb-deep-purple-200: 179, 157, 219;
  --rgb-deep-purple-300: 149, 117, 205;
  --rgb-deep-purple-400: 126, 87, 194;
  --rgb-deep-purple-500: 103, 58, 183;
  --rgb-deep-purple-600: 94, 53, 177;
  --rgb-deep-purple-700: 81, 45, 168;
  --rgb-deep-purple-800: 69, 39, 160;
  --rgb-deep-purple-900: 49, 27, 146;
  --rgb-deep-purple-a100: 179, 136, 255;
  --rgb-deep-purple-a200: 124, 77, 255;
  --rgb-deep-purple-a400: 101, 31, 255;
  --rgb-deep-purple-a700: 98, 0, 234;

  --rgb-indigo-50: 232, 234, 246;
  --rgb-indigo-100: 197, 202, 233;
  --rgb-indigo-200: 159, 168, 218;
  --rgb-indigo-300: 121, 134, 203;
  --rgb-indigo-400: 92, 107, 192;
  --rgb-indigo-500: 63, 81, 181;
  --rgb-indigo-600: 57, 73, 171;
  --rgb-indigo-700: 48, 63, 159;
  --rgb-indigo-800: 40, 53, 147;
  --rgb-indigo-900: 26, 35, 126;
  --rgb-indigo-a100: 140, 158, 255;
  --rgb-indigo-a200: 83, 109, 254;
  --rgb-indigo-a400: 61, 90, 254;
  --rgb-indigo-a700: 48, 79, 254;

  --rgb-blue-50: 227, 242, 253;
  --rgb-blue-100: 187, 222, 251;
  --rgb-blue-200: 144, 202, 249;
  --rgb-blue-300: 100, 181, 246;
  --rgb-blue-400: 66, 165, 245;
  --rgb-blue-500: 33, 150, 243;
  --rgb-blue-600: 30, 136, 229;
  --rgb-blue-700: 25, 118, 210;
  --rgb-blue-800: 21, 101, 192;
  --rgb-blue-900: 13, 71, 161;
  --rgb-blue-a100: 130, 177, 255;
  --rgb-blue-a200: 68, 138, 255;
  --rgb-blue-a400: 41, 121, 255;
  --rgb-blue-a700: 41, 98, 255;

  --rgb-light-blue-50: 225, 245, 254;
  --rgb-light-blue-100: 179, 229, 252;
  --rgb-light-blue-200: 129, 212, 250;
  --rgb-light-blue-300: 79, 195, 247;
  --rgb-light-blue-400: 41, 182, 246;
  --rgb-light-blue-500: 3, 169, 244;
  --rgb-light-blue-600: 3, 155, 229;
  --rgb-light-blue-700: 2, 136, 209;
  --rgb-light-blue-800: 2, 119, 189;
  --rgb-light-blue-900: 1, 87, 155;
  --rgb-light-blue-a100: 128, 216, 255;
  --rgb-light-blue-a200: 64, 196, 255;
  --rgb-light-blue-a400: 0, 176, 255;
  --rgb-light-blue-a700: 0, 145, 234;

  --rgb-cyan-50: 224, 247, 250;
  --rgb-cyan-100: 178, 235, 242;
  --rgb-cyan-200: 128, 222, 234;
  --rgb-cyan-300: 77, 208, 225;
  --rgb-cyan-400: 38, 198, 218;
  --rgb-cyan-500: 0, 188, 212;
  --rgb-cyan-600: 0, 172, 193;
  --rgb-cyan-700: 0, 151, 167;
  --rgb-cyan-800: 0, 131, 143;
  --rgb-cyan-900: 0, 96, 100;
  --rgb-cyan-a100: 132, 255, 255;
  --rgb-cyan-a200: 24, 255, 255;
  --rgb-cyan-a400: 0, 229, 255;
  --rgb-cyan-a700: 0, 184, 212;

  --rgb-teal-50: 224, 242, 241;
  --rgb-teal-100: 178, 223, 219;
  --rgb-teal-200: 128, 203, 196;
  --rgb-teal-300: 77, 182, 172;
  --rgb-teal-400: 38, 166, 154;
  --rgb-teal-500: 0, 150, 136;
  --rgb-teal-600: 0, 137, 123;
  --rgb-teal-700: 0, 121, 107;
  --rgb-teal-800: 0, 105, 92;
  --rgb-teal-900: 0, 77, 64;
  --rgb-teal-a100: 167, 255, 235;
  --rgb-teal-a200: 100, 255, 218;
  --rgb-teal-a400: 29, 233, 182;
  --rgb-teal-a700: 0, 191, 165;

  --rgb-green-50: 232, 245, 233;
  --rgb-green-100: 200, 230, 201;
  --rgb-green-200: 165, 214, 167;
  --rgb-green-300: 129, 199, 132;
  --rgb-green-400: 102, 187, 106;
  --rgb-green-500: 76, 175, 80;
  --rgb-green-600: 67, 160, 71;
  --rgb-green-700: 56, 142, 60;
  --rgb-green-800: 46, 125, 50;
  --rgb-green-900: 27, 94, 32;
  --rgb-green-a100: 185, 246, 202;
  --rgb-green-a200: 105, 240, 174;
  --rgb-green-a400: 0, 230, 118;
  --rgb-green-a700: 0, 200, 83;

  --rgb-light-green-50: 241, 248, 233;
  --rgb-light-green-100: 220, 237, 200;
  --rgb-light-green-200: 197, 225, 165;
  --rgb-light-green-300: 174, 213, 129;
  --rgb-light-green-400: 156, 204, 101;
  --rgb-light-green-500: 139, 195, 74;
  --rgb-light-green-600: 124, 179, 66;
  --rgb-light-green-700: 104, 159, 56;
  --rgb-light-green-800: 85, 139, 47;
  --rgb-light-green-900: 51, 105, 30;
  --rgb-light-green-a100: 204, 255, 144;
  --rgb-light-green-a200: 178, 255, 89;
  --rgb-light-green-a400: 118, 255, 3;
  --rgb-light-green-a700: 100, 221, 23;

  --rgb-lime-50: 249, 251, 231;
  --rgb-lime-100: 240, 244, 195;
  --rgb-lime-200: 230, 238, 156;
  --rgb-lime-300: 220, 231, 117;
  --rgb-lime-400: 212, 225, 87;
  --rgb-lime-500: 205, 220, 57;
  --rgb-lime-600: 192, 202, 51;
  --rgb-lime-700: 175, 180, 43;
  --rgb-lime-800: 158, 157, 36;
  --rgb-lime-900: 130, 119, 23;
  --rgb-lime-a100: 244, 255, 129;
  --rgb-lime-a200: 238, 255, 65;
  --rgb-lime-a400: 198, 255, 0;
  --rgb-lime-a700: 174, 234, 0;

  --rgb-yellow-50: 255, 253, 231;
  --rgb-yellow-100: 255, 249, 196;
  --rgb-yellow-200: 255, 245, 157;
  --rgb-yellow-300: 255, 241, 118;
  --rgb-yellow-400: 255, 238, 88;
  --rgb-yellow-500: 255, 235, 59;
  --rgb-yellow-600: 253, 216, 53;
  --rgb-yellow-700: 251, 192, 45;
  --rgb-yellow-800: 249, 168, 37;
  --rgb-yellow-900: 245, 127, 23;
  --rgb-yellow-a100: 255, 255, 141;
  --rgb-yellow-a200: 255, 255, 0;
  --rgb-yellow-a400: 255, 234, 0;
  --rgb-yellow-a700: 255, 214, 0;

  --rgb-amber-50: 255, 248, 225;
  --rgb-amber-100: 255, 236, 179;
  --rgb-amber-200: 255, 224, 130;
  --rgb-amber-300: 255, 213, 79;
  --rgb-amber-400: 255, 202, 40;
  --rgb-amber-500: 255, 193, 7;
  --rgb-amber-600: 255, 179, 0;
  --rgb-amber-700: 255, 160, 0;
  --rgb-amber-800: 255, 143, 0;
  --rgb-amber-900: 255, 111, 0;
  --rgb-amber-a100: 255, 229, 127;
  --rgb-amber-a200: 255, 215, 64;
  --rgb-amber-a400: 255, 196, 0;
  --rgb-amber-a700: 255, 171, 0;

  --rgb-orange-50: 255, 243, 224;
  --rgb-orange-100: 255, 224, 178;
  --rgb-orange-200: 255, 204, 128;
  --rgb-orange-300: 255, 183, 77;
  --rgb-orange-400: 255, 167, 38;
  --rgb-orange-500: 255, 152, 0;
  --rgb-orange-600: 251, 140, 0;
  --rgb-orange-700: 245, 124, 0;
  --rgb-orange-800: 239, 108, 0;
  --rgb-orange-900: 230, 81, 0;
  --rgb-orange-a100: 255, 209, 128;
  --rgb-orange-a200: 255, 171, 64;
  --rgb-orange-a400: 255, 145, 0;
  --rgb-orange-a700: 255, 101, 0;

  --rgb-deep-orange-50: 251, 233, 231;
  --rgb-deep-orange-100: 255, 204, 188;
  --rgb-deep-orange-200: 255, 171, 145;
  --rgb-deep-orange-300: 255, 138, 101;
  --rgb-deep-orange-400: 255, 112, 67;
  --rgb-deep-orange-500: 255, 87, 34;
  --rgb-deep-orange-600: 244, 81, 30;
  --rgb-deep-orange-700: 230, 74, 25;
  --rgb-deep-orange-800: 216, 67, 21;
  --rgb-deep-orange-900: 191, 54, 12;
  --rgb-deep-orange-a100: 255, 158, 128;
  --rgb-deep-orange-a200: 255, 110, 64;
  --rgb-deep-orange-a400: 255, 61, 0;
  --rgb-deep-orange-a700: 221, 44, 0;

  --rgb-brown-50: 239, 235, 233;
  --rgb-brown-100: 215, 204, 200;
  --rgb-brown-200: 188, 170, 164;
  --rgb-brown-300: 161, 136, 127;
  --rgb-brown-400: 141, 110, 99;
  --rgb-brown-500: 121, 85, 72;
  --rgb-brown-600: 109, 76, 65;
  --rgb-brown-700: 93, 64, 55;
  --rgb-brown-800: 78, 52, 46;
  --rgb-brown-900: 62, 39, 35;

  --rgb-grey-50: 250, 250, 250;
  --rgb-grey-100: 245, 245, 245;
  --rgb-grey-150: 240, 240, 240;
  --rgb-grey-200: 238, 238, 238;
  --rgb-grey-300: 224, 224, 224;
  --rgb-grey-400: 189, 189, 189;
  --rgb-grey-500: 158, 158, 158;
  --rgb-grey-600: 117, 117, 117;
  --rgb-grey-700: 97, 97, 97;
  --rgb-grey-800: 66, 66, 66;
  --rgb-grey-850: 48, 48, 48;
  --rgb-grey-900: 33, 33, 33;

  --rgb-blue-grey-50: 236, 239, 241;
  --rgb-blue-grey-100: 207, 216, 220;
  --rgb-blue-grey-150: 188, 199, 204;
  --rgb-blue-grey-200: 176, 190, 197;
  --rgb-blue-grey-300: 144, 164, 174;
  --rgb-blue-grey-400: 120, 144, 156;
  --rgb-blue-grey-500: 96, 125, 139;
  --rgb-blue-grey-600: 84, 110, 122;
  --rgb-blue-grey-700: 69, 90, 100;
  --rgb-blue-grey-800: 55, 71, 79;
  --rgb-blue-grey-850: 45, 59, 66;
  --rgb-blue-grey-900: 38, 50, 56;

  --rgb-gray-50: 250, 250, 250;
  --rgb-gray-100: 245, 245, 245;
  --rgb-gray-150: 240, 240, 240;
  --rgb-gray-200: 238, 238, 238;
  --rgb-gray-300: 224, 224, 224;
  --rgb-gray-400: 189, 189, 189;
  --rgb-gray-500: 158, 158, 158;
  --rgb-gray-600: 117, 117, 117;
  --rgb-gray-700: 97, 97, 97;
  --rgb-gray-800: 66, 66, 66;
  --rgb-gray-850: 48, 48, 48;
  --rgb-gray-900: 33, 33, 33;

  --rgb-blue-gray-50: 236, 239, 241;
  --rgb-blue-gray-100: 207, 216, 220;
  --rgb-blue-gray-150: 188, 199, 204;
  --rgb-blue-gray-200: 176, 190, 197;
  --rgb-blue-gray-300: 144, 164, 174;
  --rgb-blue-gray-400: 120, 144, 156;
  --rgb-blue-gray-500: 96, 125, 139;
  --rgb-blue-gray-600: 84, 110, 122;
  --rgb-blue-gray-700: 69, 90, 100;
  --rgb-blue-gray-800: 55, 71, 79;
  --rgb-blue-gray-850: 45, 59, 66;
  --rgb-blue-gray-900: 38, 50, 56;

  --info-color: var(--mat-grey-400);
  --success-color: var(--mat-green-400);
  --warning-color: var(--mat-orange-400);
  --error-color: var(--mat-red-400);
}
