@import '~@angular/material/theming';

@include mat-core();

@import 'colors.scss';

:root {
  --lintel-opacity-disabled: 0.3;
  --lintel-opacity-icon: 0.6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html { height: 100%; }

body {
  overflow: hidden;
}

body.vscode-dark {
  /* TODO: any necessary styling here */
  background-color: var(--vscode-editor-background);
}

body.vscode-high-contrast {
  /* TODO: any necessary styling here */
  background-color: var(--vscode-editor-background);
}

body.vscode-light {
  /* TODO: any necessary styling here */
  background-color: var(--vscode-editor-background);
}

// NOTE: attempt to bridge VSCode vars with material theming

a,
input,
select {

  &:focus {
    outline: none;
  }

}

fa-icon {
  color: var(--vscode-editorWidget-foreground);
}

input::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

input[type=number],
input[type=text] {
  background: transparent;
  border: none;
  color: var(--vscode-input-foreground);
}

// attempt to coerce material widgets into VSCode styles

.mat-tab-label,
.mat-tab-group {
  border: none;
  color: var(--vscode-editorWidget-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  outline: none;
}

.mat-tab-label {
  height: 2rem !important;
  margin-right: 1rem !important;
  min-width: 0 !important;
  opacity: 1 !important;
  padding: 0 !important;

  &.mat-tab-label-active {
    border-bottom: 1px solid var(--vscode-settings-headerForeground);
    color: var(--vscode-settings-headerForeground);
  }

}
