@import 'colors.scss';

:root {
  --lintel-opacity-disabled: 0.5;
  --lintel-opacity-icon: 0.6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html { height: 100%; }

body {
  overflow: hidden;
}

body.vscode-dark {
  /* TODO: any necessary styling here */
  background-color: var(--vscode-editor-background);
}

body.vscode-high-contrast {
  /* TODO: any necessary styling here */
  background-color: var(--vscode-editor-background);
}

body.vscode-light {
  /* TODO: any necessary styling here */
  background-color: var(--vscode-editor-background);
}

a,
input,
select {

  &:focus {
    outline: none;
  }

}

a {
  cursor: pointer;
  text-decoration: none;
}

a code {
  color: inherit;
}

input[type=number],
input[type=text] {
  background: transparent;
  border: none;
  color: var(--vscode-input-foreground);
}

input[disabled],
input::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.ngx-contextmenu.dropdown {

  ul {
    background-color: var(--vscode-settings-dropdownBackground);
    border: 1px solid var(--vscode-focusBorder);
    list-style-type: none;
    margin: 0;
    outline: 0;
    padding: 0;

    li {

      &.disabled {

        a {
          opacity: var(--lintel-opacity-disabled);

          &:hover {
            background: inherit;
          }

        }

      }

      a {
        color: var(--vscode-settings-headerForeground);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        text-decoration: none;

        &:hover {
          background-color: var(--vscode-settings-modifiedItemIndicator);
        }

      }

    }

  }

}
