@import '~@angular/material/theming';
@import 'colors.scss';

@include mat-core();

body,
html { height: 100%; }

body.vscode-dark {
  /* TODO: any necessary styling here */
  background-color: var(--vscode-editor-background);
}

body.vscode-high-contrast {
  /* TODO: any necessary styling here */
  background-color: var(--vscode-editor-background);
}

body.vscode-light {
  /* TODO: any necessary styling here */
  background-color: var(--vscode-editor-background);
}

// TODO: temporary attempt at theming material controls to match VSCode

.mat-tree {

  .mat-tree-node {
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    min-height: 1.5rem !important;
  }

  li,
  ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
  }

  ul {
    padding-left: 1.5rem;
  }

}
